{% extends 'base.html' %}
{% load static%}
{% block title %}
Bank
{% endblock %}
{% block content %}
    <div class="wrapper default">
        <!-- main -->
        <main class="cart-page default">
            <div class="container">
                <div class="row">
                    <div class="cart-page-content col-xl-9 col-lg-8 col-md-12 order-1">
                        <div class="cart-page-title">
                            <h1>نتیجه بانک</h1>
                        </div>
                        <div class="table-responsive checkout-content default">
                            <table class="table">
                                <tbody>
                                <div>
                                    <a href="{% url 'payment-failed' %}" class="btn btn-danger ">Payment Failed</a>
                                </div>
                                <div>
                                    <form method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-success ">Payment Success</button>
                                    </form>
                                </div>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- main -->
    </div>
{% endblock %}