{% extends 'base.html' %}
{% load static%}
{% block title %}
Profile
{% endblock %}
{% block content %}

    <div class="wrapper default">
        <!-- main -->
        <main class="profile-user-page default">
            <div class="container">
                <div class="row">
                    <div class="profile-page col-xl-9 col-lg-8 col-md-12 order-2">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="col-12">
                                    <h1 class="title-tab-content">اطلاعات شخصی</h1>
                                </div>
                                <div class="content-section default">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <p>
                                                <span class="title">نام و نام خانوادگی :</span>
                                                <span>{% if user.first_name and user.last_name %}
                                                {{  user.first_name}} {{ user.last_name }}
                                                    {% else %}
                                                    اطلاعات خود را کامل کنید
                                                {% endif %}
                                                    </span>
                                            </p>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <p>
                                                <span class="title">پست الکترونیک :</span>
                                                <span>{% if user.email %}
                                                {{ user.email }}
                                                    {% else %}
                                                    اطلاعات خود را کامل کنید
                                                {% endif %}</span>
                                            </p>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <p>
                                                <span class="title">شماره تلفن همراه:</span>
                                                <span>{% if user.phone_number %}
                                                {{  user.phone_number}}
                                                    {% else %}
                                                    اطلاعات خود را کامل کنید
                                                {% endif %}</span>
                                            </p>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <p>
                                                <span class="title">کد ملی :</span>
                                                <span>{% if user.national_code %}
                                                {{  user.national_code}}
                                                    {% else %}
                                                    اطلاعات خود را کامل کنید
                                                {% endif %}</span>
                                            </p>
                                        </div>

                                        <div class="col-12 text-center">
                                            <a href="{% url 'profile-edit' %}" class="btn-link-border form-account-link">
                                                ویرایش اطلاعات شخصی
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="col-12">
                                    <h1 class="title-tab-content">لیست سبد خرید</h1>
                                </div>
                                <div class="content-section default">
                                    <div class="row">
                                        <div class="col-12">
                                            {% for cart in carts %}
                                                <div class="profile-recent-fav-row">
                                                    <a href="#" class="profile-recent-fav-col profile-recent-fav-col-thumb">
                                                        {% for image in cart.product.images.all %}
                                                            {% if forloop.counter == 1 %}
                                                                <img  src="{{ image.image.url }}"/>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </a>
                                                    <div class="profile-recent-fav-col profile-recent-fav-col-title">
                                                        <a href="#">
                                                            <h4 class="profile-recent-fav-name">
                                                                گوشی موبایل {{ cart.product.brand.faname }} مدل {{ cart.product.model }} رنگ {{ cart.color.faname }} ظرفیت
                                                {{ cart.product.storage }} گیگابایت
                                                            </h4>
                                                            <span class="profile-recent-fav-name">
                                                                {{ cart.quantity }} عدد
                                                            </span>
                                                        </a>
                                                    </div>
                                                    <div class="profile-recent-fav-col profile-recent-fav-col-actions">
                                                        <form method="post">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="cart_item_id" value="{{ cart.id }}">
                                                            <button type="submit" class="btn-action btn-action-remove">
                                                                <i class="fa fa-trash"></i>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            {% endfor %}

                                        </div>
                                        <div class="col-12 text-center">
                                            <a href="{% url 'cart' %}" class="btn-link-border form-account-link">
                                                مشاهده و ویرایش سبد خرید
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    <div class="profile-page-aside col-xl-3 col-lg-4 col-md-6 center-section order-1">
                        <div class="profile-box">
                            <div class="profile-box-header">
                                <div class="profile-box-avatar">
                                    <img src="{% static 'img/svg/user.svg' %}" alt="">
                                </div>
                            </div>
                            <div class="profile-box-username">{% if user.first_name and user.last_name %}
                                                {{  user.first_name}} {{ user.last_name }}
                                                    {% else %}
                                {{ user.username}}
                                                {% endif %}</div>
                            <div class="profile-box-tabs">
                                <a href="{% url 'password_change' %}" class="profile-box-tab profile-box-tab-access">
                                    <i class="now-ui-icons ui-1_lock-circle-open"></i>
                                    تغییر رمز
                                </a>
                                <a href="{% url 'logout' %}" class="profile-box-tab profile-box-tab--sign-out">
                                    <i class="now-ui-icons media-1_button-power"></i>
                                    خروج از حساب
                                </a>
                            </div>
                        </div>
                        <div class="responsive-profile-menu show-md">
                            <div class="btn-group">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-navicon"></i>
                                    حساب کاربری شما
                                </button>
                                <div class="dropdown-menu dropdown-menu-right text-right">
                                    <a href="{% url 'profile' %}" class="dropdown-item active-menu">
                                    <i class="now-ui-icons users_single-02"></i>
                                    پروفایل
                                    </a>
                                    <a href="{% url 'cart' %}" class="dropdown-item">
                                    <i class="now-ui-icons shopping_basket"></i>
                                    لیست سبد خرید
                                    </a>
                                    <a href="{% url 'profile-edit' %}" class="dropdown-item">
                                    <i class="now-ui-icons business_badge"></i>
                                    اطلاعات شخصی
                                    </a>
                                    <a href="{% url 'address-edit' %}" class="dropdown-item">
                                    <i class="now-ui-icons business_badge"></i>
                                    آدرس ها
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="profile-menu hidden-md">
                            <div class="profile-menu-header">حساب کاربری شما</div>
                            <ul class="profile-menu-items">
                                <li>
                                    <a href="{% url 'profile' %}" class="active">
                                        <i class="now-ui-icons users_single-02"></i>
                                        پروفایل
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'cart' %}">
                                        <i class="now-ui-icons shopping_basket"></i>
                                        لیست سبد خرید
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'profile-edit' %}">
                                        <i class="now-ui-icons business_badge"></i>
                                        اطلاعات شخصی
                                    </a>
                                </li>
                                 <li>
                                    <a href="{% url 'address-edit' %}">
                                        <i class="now-ui-icons business_badge"></i>
                                        آدرس ها
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- main -->
    </div>
{% endblock %}